<h1>Global Stats</h1>

<ul>
	<li><%= image_tag @google_chart_test.to_url %></li>
	
	<li><%#= image_tag @rrd_google_chart_test.to_url %></li>
</ul>
<p>Google Chart tests with GC4R plugin w/o and w RRDtool data</p>

