<%= render :partial => "list_data" %>



<!-- <p>[rs specific ungraphed stats]</p>
<h2>ID: <%#= @range_server[:rs_id] %></h2>
<%#= image_tag "/rrd/vtest_0.png", :alt => "vtest_0" %>

<p>[etc etc (graphs from rrd tool?)]</p> -->
